.todo-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.todo-list li {
  margin: 5px;
  background-color: #f4f2f0;
  border-radius: 8px;
  cursor: pointer;
}

.todo-list li.selected {
  background-color: #CFD8DC !important;
  color: white;
}

.todo-list li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}

.todo-list li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}

.todo-list .item-badge {
  display: inline-block;
  color: white;
  padding: 0.8em 0.7em;
  background-color: #607D8B;
  border-radius: 4px 0 0 4px;
}

.todo-list .item-text {
  padding: 0.8em 0.6em;
}