h2 {
  color: crimson;
  margin-top: 0;
  display: inline-block;
}
a.clear {
  color: #369;
  display: inline-block;
  margin-left: 16px;
  cursor: pointer;
}
a.clear:hover {
  color: blue;
}
.messages-area {
  background-color: #eee;
  margin-top: 16px;
  padding: 16px;
}